body{background-color: #ccffff}
body{margin:auto; max-width: 700px;}
body{border-style: groove; border-color: black;}
h1{text-align: center; }

img {width: 300px; max-width: 100% }
div {background-color: #00e6ac;} 
	p {font-family: arial; }
	.fancy { color: red; }
#eka-laatikko {background-color: #00b8e6;}
p.solid {border-style: solid; border-color: #b3ffb3; }



